body {
    margin     : 0;
    padding    : 0;
    font-family: sans-serif;
}

#main-content {
    padding: 5px 10px;
    overflow-x: hidden;
}

.disabled {
    opacity: 0.5;
    cursor : not-allowed !important;
}

.RaListToolbar-toolbar {
    display    : flex;
    align-items: center !important;
    margin     : 20px 5px;
}

.filter-field .MuiFilledInput-marginDense {
    flex-direction: row !important;
}

body>.MuiDrawer-modal {
    display: none;
}

.RaAppBar-toolbar {
    min-height: 48px !important;
}

header.MuiPaper-root button[aria-label="Refresh"] {
    display: none;
}

header.MuiPaper-root .MuiCircularProgress-indeterminate {
    display: none;
}

.hamburger-menu {
    display         : block !important;
    position        : absolute;
    background-color: #647d7a;
    left            : 0;
    top             : 48px;
    box-shadow      : 5px 5px 10px #525252;
}

.MuiDialog-paper {
    max-width : 800px !important;
    overflow-y: auto !important;
    height    : auto;
}

.pg-viewer-wrapper {
    overflow: unset !important;
    width   : 800px;
}

.react-grid-Canvas {
    height  : auto !important;
    overflow: unset !important;
}

.pdf-canvas {
    overflow-y: unset;
    height    : auto;
}

.pdf-canvas>canvas {
    width     : auto;
    overflow-y: scroll;
}

.react-grid-Container {
    width : 800px !important;
    height: 500px;
}

.react-grid-Main {
    height: 500px;
}

.react-grid-Grid {
    height: 500px;
}

.react-grid-HeaderRow {
    overflow: unset !important;
}

.react-grid-Canvas {
    widows: 800 !important;
}

.mq-dataset-results {
    overflow-y: scroll;
    height : 150px;
}

@media screen and (max-width: 600px) {
    .MuiPaper-rounded {
        margin-right: 0 !important;
    }

    .recharts-wrapper {
        width: 95vw !important;
    }
}